@font-face {
	font-family: 'icomoon';
	src:url('../social-fonts/icomoon.eot?-6bu7sv');
	src:url('../social-fonts/icomoon.eot?#iefix-6bu7sv') format('embedded-opentype'),
		url('../social-fonts/icomoon.woff?-6bu7sv') format('woff'),
		url('../social-fonts/icomoon.ttf?-6bu7sv') format('truetype'),
		url('../social-fonts/icomoon.svg?-6bu7sv#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
	content: "\ea8e";
}

.icon-twitter:before {
	content: "\ea93";
}

.icon-github:before {
	content: "\eab1";
}

