/* Header */
@import "modules/header"

/* Navigation */
@import "modules/menu"

/* Footer */
// SOON TM

/* Wrappers */
// Mobile-first View
  .Content
    display flex
    height 100%
    flex-direction column
  
  .Wrapper
    position relative
    right 0
    top 0
    transition all 300ms ease-in-out
    height 100%
    width 100%
    &.Move-right
      right -50%
    &.Move-left
      right 50%
  
// Tablet View
  @media screen and (min-width: $query_medium)
    .Wrapper
      &.Move // Show Menu
        #span1
          top .75em
          width 1.5em
        #span2
          left .45em
        #span3
          top 1.55em
          width 1.5em
  
// Desktop view
  @media screen and (min-width: $query_large)
    .Wrapper
      &.Move
        right 0
