/* Header */
@import "modules/header"

/* Navigation */
@import "modules/menu"

/* Footer */
// SOON TM

/* Wrappers */
// Mobile-first View
  .Content
    display flex
    height 100%
    flex-direction column
  
  .Wrapper
    position relative
    right 0
    top 0
    transition all 300ms ease-in-out
    height 100%
    width 100%
    &.Move-right
      right -50%
    &.Move-left
      right 50%
  
  .Content-blocker
    &.Active
      position fixed
      top 0em
      left 0
      height 100vh
      width 100%
      overflow-y hidden
      background rgba(black,.4)
  
// Tablet View
  @media screen and (min-width: $query_medium)
    .Wrapper
      &.Move // Show Menu
        #span1
          top .75em
          width 1.5em
        #span2
          left .45em
        #span3
          top 1.55em
          width 1.5em
  
// Desktop view
  @media screen and (min-width: $query_large)
    .Content
      flex-direction row
      justify-content space-around
      position relative
      width 90%
      margin 0 auto
    .Wrapper
      &.Move-right
        right 0
      &.Move-left
        right 0
    .Content-blocker
      &.Active
        display none
