/* Dependencies */
@import "nib"                // nib v1.1.0
@import "dependencies/control-icons" // Custom Icons
@import "config"             // Theme configuration

/* SMACSS Files */
@import "base"
@import "layout"

/* View modules */
@import "modules/player"   // Player
@import "modules/playlist-bar"   // Player
@import "modules/playlist" // Main playlist 
@import "modules/playlists_lists" // Playlist list