/**
 * CONTENTS
 *
 * IMPORTS
 * Custom files...........Owned style files.
 * Dependencies...........Third-party files.
 *
 * SETTINGS
 * Colors.................Globally-available colors.
 *
 * TOOLS
 * Macros.................Useful macros.
 *
 * GENERIC
 * Box-sizing............Better default `box-sizing`.
 * List..................Elimination of 'list-style'
 * Others................Other useful styles. 
 *
 * OBJECTS
 * Wrappers.............Wrapping elements.
 *
 * COMPONENTS
 * Header............The main page header.
 * Footer............The main page footer.
 *
 * TRUMPS
 * Text.................Text helpers.
 */


/**************************************
 *               IMPORTS              *
 **************************************
 */
 
/* Dependencies
 */
// Normalize v3.0.3
@import "normalize" 
// nib v1.1.0
@import "nib"


/* Custom files 
 */
// Custom Icons
@import "icons"


/**************************************
 *              SETTINGS              *
 **************************************
 */

/* Colors 
 */
$primary_color    = #3498db
$secondary_color  = #09588c
$tertiary_color   = #808080
$background_color = #ecf0f1
$light_text_color = #8a8787
$dark_text_color  = #000000


/**************************************
 *               TOOLS                *
 **************************************
 */
 
/* Macros
 */
smooth_transition(time) 
  transition all time ease-in-out



/**************************************
 *             GENERIC                *
 **************************************
 */
 
/* Box-sizing
 */
*
  box-sizing border-box
  margin 0
  padding 0

/* List
 */
li
  list-style none

/* Others
 */
body
  background $background_color
  overflow hidden

a
  text-decoration none
h1
  margin 0



/**************************************
 *             OBJECTS                *
 **************************************
 */
 
/* Wrappers
 */
// SOON TM



/**************************************
 *            COMPONENTS              *
 **************************************
 */
 
/* Header
 */
.Header
  background $primary_color
  display flex
  height 3em
  justify-content space-between
  flex-direction: row-reverse
  padding .5em 0em 
  position absolute
  left 0
  top 0
  smooth_transition(300ms)
  width 100%
  &.Move
    left 50%
    .Header__page-title
      padding-left 10%
.Header__button
  display flex
  height 2em
  margin-left 1em
  position relative
  smooth_transition(300ms)
  width 2.2em
  &.Active
    margin-left 35%
    #span1
      top .55em
      transform rotate(-45deg)
      width 1em
    #span2
      left .4em
    #span3
      top 1.1em
      transform rotate(45deg) 
      width 1em
.Header__button__line
  background white
  border-radius 1px
  cursor pointer
  height 4px
  left 0.1em
  position absolute
  smooth_transition(300ms)
  width 30px
  &#span1
    top .1em
  &#span2
    top .83em
  &#span3
    top 1.5em
.Header__page-title
  color white
  font-size 1.8em
  margin-right 1em
  padding-left 0em
  smooth_transition(300ms)
.Header__site-title
  display none
.Header__user
  display none

/* Nav menu
 */
.Menu
  background $secondary_color
  border-right 3px solid $secondary_color
  height 100%
  left -50%
  position absolute
  smooth_transition(300ms)
  width 50%
  &.Active
    left  0%
.Menu__title
  height 3em
  padding .5em
  text-align center
.Menu__title__text
  color white
  cursor pointer
  font-size 1.8em
  user-select none
.Menu__title__text--mod
  color $primary_color
.Menu__item
  border-top 1px solid white
  height 3em
  padding-top 1em
  text-align center
  &:hover
    background $primary_color
.Menu__link
  color white
  user-select none

/* Footer
 */
.Footer
  display none