/* Dependencies */
@import "nib"                // nib v1.1.0
@import "dependencies/control-icons" // Custom Icons
@import "config"             // Theme configuration

/* SMACSS Files */
@import "base"
@import "layout"

/* View modules */
// Player
@import "modules/player"
@import "modules/playlist-bar"

// Playlist
@import "modules/playlist" 
@import "modules/playlists-lists"

// Series 
@import "modules/series-list"