.Playlists-list__list
  height 100%
  width 100%
.Playlists-list__item
  display flex
  height 5em
  margin 1em
  background rgba($secondary_color, .8)
.Playlists-list__item__cover
  height 100%
  margin 0
  margin-right .5em
.Playlists-list__item__cover__image
  height 100%
  max-width 5em
.Playlists-list__item__title
  align-items center
  color white
  display flex
  flex 1
  justify-content center
  text-overflow ellipsis
  overflow hidden
  text-align center
