.Playlist-list
  background rgba(black, .7)
  width 100%
  height 100%
.Playlist-list__item
  background rgba(black, .5)
  display flex
  justify-content stretch
  width 100%
  height 5em
.Playlist-list__cover
  width 150px
  height 150px
.Playlist-list__cover__image
  height 100%
  width 100%