/* Mobile-first view */
  .Playlist-bar
    border-left 1px solid $tertiary_color
    height 100%
    position fixed
    right -50%
    top 0
    transition all 300ms ease-in-out
    width 50%

  .Playlist-bar__list
    background $tertiary_color
    height 100%
    overflow-y auto
    width 100%
    &.Active
      top 6em
      .Playlist__mobile__bar
         top 3em

  .Playlist-bar__mobile__bar
    background $tertiary_color
    height 3em
    padding-top .5em
    text-align center
    width 100%

  .Playlist-bar__mobile__title
    color white
    font-size 1.2em

  .Playlist-bar__item
    background rgba(black, .5)
    cursor pointer
    display flex
    flex-direction column
    justify-content center
    height 4em
    overflow hidden
    text-align center
    width 100%
    &:nth-child(odd)
      background rgba(black, .7)
    &.Playing
      background rgba($primary_color, .8)
      .Playlist-bar__item__text--title:before
        content "\25ba"

  .Playlist-bar__item__text
    color rgba(white, .8)
    font-size .75em
    &--title
      text-overflow ellipsis
    &--artist, &--album
      color rgba(white, .5)
      font-size .8em

  .Move-left
    .Playlist-bar
      right 0


/* Tablet View*/
  @media screen and (min-width: $query_medium)
    .Playlist-bar__item
      height 8em

    .Playlist-bar__item__info
      padding-top 1em

    .Playlist-bar__item__text
      font-size 1.6em
    
    .Playlist-bar__mobile__bar
      height 2em
      font-size 2em
      padding-top .3em
      

/* Desktop View*/
  @media screen and (min-width: $query_large)
    .Playlist-bar
      border none
      display block
      margin 6em 5% 0 5%
      position static
      width 60%
    .Playlist-bar__list
      background none
      max-height 50vh
    .Playlist-bar__mobile__bar
      background $primary_color
    .Playlist-bar__item
      background none
      border-bottom 1px solid $secondary_color
      justify-content center
      height 4em
      overflow hidden
      text-align center
      &:nth-child(odd)
        background none
      &.Playing
        background rgba($secondary_color, .3) 
        .Playlist-bar__item__text--title:before
          content "\25ba"
    .Playlist-bar__item__text
      color $dark_text
      font-size 1em
    .Playlist-bar__item__info
      padding-top 0


      

