<header class="Header">
<!-- Logo / Title ==========================-->
  <h1 class="Header__site-title">
    Wee<span class="Header__site-title--mod">song</span>
  </h1>
<!-- User info =============================-->
  <div class="Header__user">
    <!-- Username ======================-->
    <span class="Header__user__username">
      SampleUser
    </span>
    <!-- User avatar ===================-->
    <figure class="Header__user__image-container">
      <img src="assets/img/user.jpg" class="Header__user__image">
    </figure>
  </div> <!-- /.User -->
<!-- Page title on mobile ==================-->
  <span class="Header__page-title">{{ pageTitle }}</span>
<!-- Menu mobile button ====================-->
  <div class="Header__button" ng-click="menu.state = !menu.state">
    <span class="Header__button__line" id="span1"></span>
    <span class="Header__button__line" id="span2"></span>
    <span class="Header__button__line" id="span3"></span>
  </div>

<!-- Nav menu ==================================-->
<nav class="Menu Move">
  <ul class="Menu__list">
    <li class="Menu__item" ng-repeat="item in menu.items" ng-class="{'Active': item.id == menu.activeItem}" ng-click="selectOption(item)">
      <span class="Menu__link">
        {{ item.text }}
      </span>
    </li>
  </ul>
</nav>
</header>
