<section class="Page Player">
<!-- Cover -->
  <figure class="Player__cover">
      <img class="Player__cover__image" src="{{ song.coverImage }}">
  </figure>
<!-- Info -->
  <div class="Player__info">
    <p class="Player__info__text Player__text--track">
      {{ song.title }}
    </p>
    <p class="Player__info__text Player__text--artist">
      {{ song.artist }}
    </p>
    <p class="Player__info__text Player__text--album">
      {{ song.album }}
    </p>
  </div> <!-- /.Player__info -->
<!-- Progress bar -->
  <div class="Player__progress-bar" id="timeline" ng-click="changeTrackPos($event)">
    <div class="Player__progress-bar__current-progress" id="currentProgress">
      <!-- <div class="Player__progress-bar__dot" id="playhead"></div> -->
    </div>
  </div>
<!-- Controls -->
  <audio id="player"  preload="true">
    <source src="assets/mp3/daydream_cafe.mp3"/>
  </audio>

  {{player.currentTime}}
  {{player.duration}}
  <div class="Player__controls">
    <span class="Player__controls__icon icon-loop"></span>
    <span class="Player__controls__icon icon-backward"></span>
    <span class="Player__controls__icon" ng-class="player.playing ? 'icon-pause' : 'icon-play'" ng-click="play()"></span>
    <span class="Player__controls__icon icon-forward"></span>
    <span class="Player__controls__icon icon-shuffle"></span>
  </div><!-- /.Player__controls-->
</section><!-- /.Page .Player -->
