<section class="Playlist__info">
  <figure class="Playlist__info__cover">
    <img class="Playlist__info__image"
         draggable="false"
         ng-src="{{ playlist.info.coverImage }}">
  </figure>
  <p class="Playlist__info__text
            Playlist__info__text--title"
     ng-bind="playlist.info.title">
  </p>
  <p class="Playlist__info__text
            Playlist__info__text--author"
    ng-bind="'by ' + playlist.info.author">
  </p>
  <p class="Playlist__info__text
            Playlist__info__text--songs "
     ng-bind="playlist.songs.length + ' songs'">
  </p>
  <p class="Playlist__info__text
            Playlist__info__text--date"
     ng-bind="'Last updated on' + playlist.info.date">
  </p>
</section>

<section class="Playlist__container">
  <div class="Playlist__bar">
    Songs
  </div>
  <ul class="Playlist__list">
    <li class="Playlist__item" 
        ng-repeat="song in playlist.songs"
        ng-click="play($index)">
      <figure class="Playlist__item__cover">
        <img class="Playlist__item__image"
             draggable="false"
             ng-src="{{ song.coverImage }}">
      </figure>
      <div class="Playlist__item__info">
        <p class="Playlist__item__text
                  Playlist__item__text--title"
           ng-bind="song.title">
        </p>
        <p class="Playlist__item__text
                  Playlist__item__text--artist"
           ng-bind="song.artist">
        </p>
      </div>
    </li>
  </ul>
</section>