<section class="Player">
<!-- Cover -->
  <figure class="Player__cover">
      <img class="Player__cover__image" 
           ng-src="{{ song.coverImage }}">
  </figure>
<!-- Info -->
  <div class="Player__info">
    <p class="Player__info__text 
              Player__text--track">
      {{ song.title }}
    </p>
    <p class="Player__info__text 
              Player__text--artist">
      {{ song.artist }}
    </p>
    <p class="Player__info__text 
              Player__text--album">
      {{ song.album }}
    </p>
  </div> <!-- /.Player__info -->
<!-- Progress bar -->
  <div class="Player__progress-bar" 
        id="timeline" 
        ng-click="changeTrackPos($event)">
    <div class="Player__progress-bar__current-progress" 
         id="currentProgress">
      <div class="Player__progress-bar__dot"></div>
    </div>
  </div>
  <div class="Player__progress-time">
    {{ elapsedTime }} / {{ totalTime }}
  </div>
<!-- Controls -->
  <div class="Player__controls">
    <span class="Player__controls__icon 
                 icon-loop"
          ng-class="{'Active': playerLooped}" 
          ng-click="toggleLoop()"></span>
    <span class="Player__controls__icon 
                 icon-backward" 
          ng-click="playPrev()"></span>
    <span class="Player__controls__icon" 
          ng-class="isPlaying ? 'icon-pause' : 'icon-play'"
          ng-click="play()"></span>
    <span class="Player__controls__icon 
                 icon-forward" 
          ng-click="playNext()"></span>
    <span class="Player__controls__icon
                 icon-shuffle" 
          ng-class="{'Active': playerShuffled}" 
          ng-click="toggleShuffle()" ></span>
  </div><!-- /.Player__controls-->
</section><!-- /.Page .Player -->


<!-- Small Side Playlist bar -->
<section class="Playlist-bar" 
         ng-controller="PlaylistBarCtrl">
  <!-- Bar title -->
  <div class="Playlist-bar__mobile__bar">
    <span class="Playlist-bar__mobile__title"> 
      Current Playlist
    </span>
  </div>
  <!-- Playlist -->
  <ul class="Playlist-bar__list">
    <li class="Playlist-bar__item" 
        ng-repeat="song in playlist" 
        ng-class="{'Playing': index === $index}" 
        ng-click="play($index)">
      <div class="Playlist-bar__item__info">
        <p class="Playlist-bar__item__text 
                  Playlist-bar__item__text--title">
          {{ song.title }}
        </p>
        <p class="Playlist-bar__item__text 
                  Playlist-bar__item__text--artist">
          {{ song.artist }}
        </p>
      </div>
    </li>
  </ul>
</section>